<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
	{{> header }}
	<link rel="stylesheet" href="public/css/home.css">
	<link rel="stylesheet" href="public/components/bootstrap-select/dist/css/bootstrap-select.min.css">
	<body>
		<div class="container">
			<div class="col-md-4"></div>
			{{{ content }}}
			<div class="col-md-4"></div>
		</div>
	</body>
	{{> footer }}
	<script src="public/components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="public/components/momentjs/min/moment.min.js"></script>
	<script src="public/js/home.js"></script>
</html>
